@media screen and (max-width: 540px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90%;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero h1 {
    font-size: 2.2rem !important;
  }
  .skills .skill_image {
    width: 30px !important;
    height: 30px;
  }
  .about_banner {
    width: 80%;
  }
  .about_banner img {
    margin: 0;
  }
  .flex_42 {
    flex: 0 1 40%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 21rem;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .mail_right {
    right: -20rem;
  }
}

@media screen and (max-width: 415px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90% !important;
    margin: auto;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero h1 {
    font-size: 2.2rem !important;
  }
  .hero_data {
    margin-top: -8rem;
  }
  .about_banner {
    width: 80%;
  }
  .project_article {
    height: 22rem;
    margin-top: 0rem !important;
  }
  .about_banner img {
    margin: 0;
  }
  .skills .skill_image {
    width: 30px !important;
    height: 30px;
  }
  .flex_42 {
    flex: 0 1 80%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 25rem;
    margin-top: 0rem;
  }
  .skills_headDiv .stright_line_verticle {
    width: 200px;
  }
  .contact_data img {
    width: 60px !important;
    height: 60px !important;
  }
  .resume {
    margin-left: 2rem !important;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .mail_right {
    right: -17rem;
  }
}
@media screen and (max-width: 376px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90%;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero_data {
    margin-top: -8rem;
  }
  .about_banner {
    width: 80%;
  }
  .project_article {
    height: 22rem;
  }
  .about_banner img {
    margin: 0;
  }
  .flex_42 {
    flex: 0 1 80%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 25rem;
  }
  .skills_headDiv .stright_line_verticle {
    width: 200px;
  }
  .skills .skill_image {
    width: 20px !important;
    height: 20px;
  }
  .about_data {
    width: 90%;
    margin: auto;
  }
  .contact_data {
    width: 90%;
    margin: auto;
  }
  .contact_data img {
    width: 60px !important;
    height: 60px !important;
  }
  .resume {
    margin-left: 2rem !important;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .mail_right {
    right: -16rem;
    display: none;
  }
}
