html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* font-family: "Anton", sans-serif; */
  font-family: "Dosis", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* custom styles */
.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  /* border: 1px solid red; */
  position: relative;
}
.flex {
  display: flex;
}
.justify_between {
  justify-content: space-between;
}
.justify_center {
  justify-content: center;
}
.items_center {
  align-items: center;
}
.justify_start {
  justify-content: start;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_15 {
  flex: 0 1 15%;
}
.flex_20 {
  flex: 0 1 20%;
}
.flex_25 {
  flex: 0 1 25%;
}
.flex_28 {
  flex: 0 1 28%;
}
.flex_30 {
  flex: 0 1 30%;
}
.flex_33 {
  flex: 0 1 33%;
}
.flex_42 {
  flex: 0 1 42%;
}
.flex_48 {
  flex: 0 1 48%;
}
.flex_62 {
  flex: 0 1 62%;
}
.width_full {
  width: 100%;
}
a {
  text-decoration: none;
  color: gray;
}
.desktop_column {
  flex-direction: column;
}
/* App styles --------------------------------*/
.app {
  min-height: 100vh;
  color: white;
}

.handle_dark_app {
  background-color: rgb(10, 25, 47);
  color: white;
}

/* Each section Styles ------------------*/
.hero,
.projects {
  margin-top: 1rem;
}
.hero_parent_div,
.projects_parent_div,
.about_parent_div {
  width: 90%;
  min-height: 90vh;
  margin: auto;
  margin-top: 2rem;
  /* border: 1px solid gray; */
}

/* Header --------------------------------- */
.header_dark {
  color: white;
}
.header a {
  color: rgb(65, 62, 62);
  font-size: 1.2rem;
}
.header li {
  font-weight: 700;
  color: rgb(10, 68, 83);
}
.header a:hover {
  color: rgb(10, 68, 83);
}
.header_dark li {
  color: rgb(254, 194, 91);
  font-weight: 900;
}
.header_dark a {
  color: rgba(255, 255, 255, 0.774);
  font-weight: 900;
}
.header_dark a:hover {
  color: rgb(254, 194, 91);
}
/* icon links -------------------- */
.icons a,
.git_hub_link a {
  color: rgb(68, 68, 68);
  font-size: 1.5rem;
  display: block;
  transition: all 0.5s cubic-bezier(0.4, 0.24, 0.83, 0.67);
  cursor: pointer;
}
.icons_dark a,
.project_article_dark a {
  color: white;
}
.icons a:hover,
.git_hub_link a:hover {
  color: rgb(41, 120, 181);
  margin-top: -0.4rem;
}

/* -----------------------------Hero */
.hero_data {
  text-align: center;
  line-height: 1.5;
  color: rgb(68, 68, 68);
}
.hero_data_dark {
  color: rgba(255, 255, 255, 0.719);
}
.hero_data h1 {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}
.name_color {
  color: rgb(10, 68, 83);
}
.dark_name_color {
  color: rgb(254, 194, 91);
}
.hero_data h2 {
  font-size: 1.8rem;
  font-weight: 900;
}
.hero_data p {
  font-weight: 600;
  margin: 0.8rem 0;
}
/* -----------------------------------Projects */

.heading {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: rgb(10, 68, 83);
}
.dark_heading {
  color: rgb(254, 194, 91);
}
.project_article {
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  height: 19rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
  margin: 1.2rem;
}
.project_article_semidiv {
  width: 90%;
  margin: 0.5rem 0;
  height: 30%;
  line-height: 1.5;
  padding: 1.5rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.project_article h2 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(68, 68, 68);
  margin: 0.5rem 0;
}
.project_article_dark h2 {
  color: white;
}
.project_article .featured {
  color: rgb(10, 68, 83);
  font-weight: 600;
}
.project_article_dark .featured {
  color: rgb(254, 194, 91);
}
.project_list li {
  margin-right: 0.3rem;
  font-weight: 600;
}
.project_article .icons {
  justify-content: right;
  position: relative;
  right: 0;
  margin-top: 1rem;
}
.icons a {
  margin-left: 0.5rem;
}
.project_article_dark .icons a:hover {
  color: rgb(254, 194, 91);
}

/* ------------------------------Skill */

.skill_line {
  width: 35%;
  margin-top: 2rem;
  margin-left: 5rem;
}
.skill_line .heading {
  width: 30%;
  letter-spacing: 2px;
}
#skills,
#contact {
  width: 20%;
  letter-spacing: 3.5px;
}
.skills_headDiv .stright_line_verticle_mail {
  width: 350px;
  margin-right: 0.5rem;
}
.stright_line {
  width: 70%;
  height: 2px;
  background-color: gray;
}
.stright_line_verticle {
  width: 350px;
  height: 2px;
  border-bottom: 2px solid gray;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.skills_article {
  margin-top: 5rem;
}
.skill_image {
  width: 50px;
  height: 50px;
  padding: 0.6rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: all 0.3s cubic-bezier(0.4, 0.24, 0.83, 0.67);
}
.skill_image:hover {
  margin-top: -0.7rem;
  border-bottom: 5px solid rgb(10, 68, 83);
  cursor: pointer;
}
.logos_parent_dark_div .skill_image {
  background-color: rgb(10, 25, 47);
}
.logos_parent_dark_div .skill_image:hover {
  border-bottom: 5px solid rgb(254, 194, 91);
}

/* --------------------About */
.about .heading,
.contact .heading {
  width: 10rem;
}
.name {
  font-weight: 900;
}
.about_data {
  margin-top: 2rem;
}
.skills_parent_dark_div .heading {
  color: rgb(254, 194, 91);
  letter-spacing: 2px;
}
.skills_parent_dark_div .about_skills li {
  color: rgb(254, 194, 91);
}
.skills_parent_dark_div a {
  color: rgb(254, 194, 91);
}
.about_data img {
  margin-left: 4rem;
}
.about_data p {
  margin-top: 1rem;
  line-height: 1.3;
  font-size: 1.1rem;
}
.about_skills {
  margin-top: 1rem;
}
.about_skills li {
  margin-top: 0.4rem;
  color: rgb(10, 68, 83);
}
/* contact ----------------------------------- */
.contact {
  justify-content: right;
  width: 100%;
  margin-top: 5rem;
  margin-right: 10rem;
}
.contact_data {
  margin-top: 1rem;
}
.contact_data img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 1rem;
  display: block;
  background-color: rgba(128, 128, 128, 0.137);
  margin-right: 2rem;
}

.contact_data .resume {
  border: 1px solid gray;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  color: gray;
  transition: all 0.3s cubic-bezier(0.4, 0.24, 0.83, 0.67);
  font-weight: 900;
  margin-left: 2rem;
}
.contact_data:hover .resume {
  color: white;
  background-color: rgb(10, 68, 83);
}
.about_dark .contact_data:hover .resume {
  background-color: rgb(201, 154, 72);
}
/* Nav Link ---------------------------------------- */
.links_left {
  width: 3%;
  position: fixed;
  left: 8rem;
  bottom: 0.3rem;
}
.stright_line_verticle {
  height: 120px;
  width: 3px;
  background-color: rgb(168, 178, 209);
  border-radius: 1rem;
  margin-top: 0.8rem;
}
.stright_line_verticle {
  width: 3px;
  height: 150px;
  border-bottom: 2px dotted gray;
  border-radius: 1rem;
  margin-top: 0.5rem;
}
.stright_line_verticle_mail {
  width: 150px;
  height: 3px;
  border-bottom: 2px solid gray;
  border-radius: 1rem;
}
.links_left a {
  display: block;
  margin-top: 1.2rem;
  font-size: 2rem;
  color: rgb(10, 68, 83);
  transition: all 0.5s cubic-bezier(0.4, 0.24, 0.83, 0.67);
}
.links_left a:hover {
  margin-left: 2rem;
}
.links_left li:hover a {
  margin-left: 2rem;
}
.mail_right {
  position: fixed;
  right: -8rem;
  bottom: 16.6rem;
  transform: rotate(90deg);
}
.mail_right a {
  color: rgb(10, 68, 83);
  font-size: 1.4rem;
  letter-spacing: 5px;
}
.mail_right_dark a {
  color: rgb(254, 194, 91);
}

/* media screens */
@media screen and (max-width: 1589px) {
  html {
    font-size: 16px;
  }
  .container {
    width: 90%;
  }
  .projects_parent_div {
    width: 100%;
  }
  .flex_28 {
    flex: 0 1 28%;
  }
  .links_left {
    margin-left: -4.5rem;
  }
  .mail_right {
    margin-right: -5.5rem;
  }
}
@media screen and (max-width: 1325px) {
  .hero h1 {
    font-size: 2.3rem;
  }
}
@media screen and (max-width: 1080px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
  .logos_parent_div {
    width: 90% !important;
  }
}
@media screen and (max-width: 940px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90%;
  }
  .header {
    padding: 1rem 0;
  }
  .projects_parent_div {
    width: 100%;
  }
  .logos_parent_div {
    width: 70%;
  }
  .skill_figure {
    width: 70% !important;
    margin: auto;
  }
  .skill_line {
    width: 70%;
  }
  .about_data {
    width: 80%;
  }
  .about {
    padding-bottom: 4rem;
  }
  .contact {
    margin-left: 3rem;
  }

  /* ------------------------------- */
  .container {
    width: 90%;
  }
  .column {
    flex-direction: column;
  }
  .flex_15 {
    flex: 0 1 25%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_48 {
    flex: 0 1 100%;
  }
  .flex_42 {
    flex: 0 1 80% !important;
  }
  .flex_28 {
    flex: 0 1 43%;
  }
  .project_article {
    height: 22rem;
    margin: 0;
  }
  .links_left {
    margin-left: -7rem;
  }
  .mail_right {
    margin-right: -9rem;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .header {
    padding: 1rem 0;
  }
  .hero_parent_div {
    min-height: 60vh;
  }
  .projects_parent_div {
    width: 100%;
  }
  .logos_parent_div {
    width: 60%;
  }
  .skill_figure {
    width: 70% !important;
    margin: auto;
  }
  .skill_line {
    width: 80%;
  }
  .skill_image {
    width: 30px;
    height: 30px;
  }
  .about_data {
    width: 80%;
  }
  .about {
    padding-bottom: 4rem;
  }
  .contact {
    margin-left: 3rem;
  }
  .contact_data img {
    width: 70px;
    height: 70px;
  }
  .contact .stright_line_verticle_mail {
    width: 300px;
  }

  /* ------------------------------- */
  .container {
    width: 90%;
  }
  .column {
    flex-direction: column;
  }
  .flex_15 {
    flex: 0 1 25%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_48 {
    flex: 0 1 100%;
  }
  .flex_42 {
    flex: 0 1 80% !important;
  }
  .flex_28 {
    flex: 0 1 43%;
  }
  .project_article {
    height: 22rem;
    margin: 0;
  }
  .links_left {
    margin-left: -7rem;
  }
  .mail_right {
    margin-right: -9rem;
  }
}

@media screen and (max-width: 590px) {
  html {
    font-size: 13px;
  }
  .hero_parent_div {
    min-height: 60vh;
  }
  .hero_parent_div,
  .projects_parent_div,
  .about_parent_div {
    width: 100%;
    /* border: 1px solid gray; */
  }
  .container {
    width: 90%;
    margin: auto;
  }
  .flex_28 {
    flex: 0 1 90%;
  }
  .logos_parent_div {
    width: 80%;
  }
  .mail_right {
    margin-right: -10rem;
  }
}
@media screen and (max-width: 455px) {
  html {
    font-size: 12px;
  }
  .hero_parent_div {
    min-height: 50vh;
  }
  .hero h1 {
    font-size: 2.2rem;
  }
  .container {
    width: 90%;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 55%;
  }
  .mail_right {
    margin-right: -12rem;
  }
  .logos_parent_div {
    width: 80%;
  }
  .skill_image {
    width: 30px;
    height: 30px;
  }
  .skills_headDiv .stright_line_verticle_mail {
    width: 180px;
  }
  .contact_data img {
    width: 50px;
    height: 50px;
  }
  .contact .stright_line_verticle_mail {
    width: 250px;
  }
}

@media screen and (max-width: 411px) {
  html {
    font-size: 12px;
  }
  .mail_right {
    margin-right: -11rem;
  }
  .hero_parent_div {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .mail_right a {
    font-size: 1.2rem;
  }
  .links_left {
    margin-right: -4rem;
  }
  .links_left a {
    font-size: 1.3rem;
  }
  .mail_right {
    margin-right: -11rem;
  }
}
@media screen and (max-width: 375px) {
  html {
    font-size: 12px;
  }
  .mail_right {
    margin-right: -11rem;
  }
  .hero_parent_div {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 2rem;
  }
  .mail_right a {
    font-size: 1.2rem;
  }
  .logos_parent_div {
    width: 100%;
  }
  .links_left {
    margin-right: -4rem;
  }
  .links_left a {
    font-size: 1.3rem;
  }
  .mail_right {
    margin-right: -11rem;
  }
  .contact .stright_line_verticle_mail {
    width: 130px;
  }
}
