html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  /* font-family: "Anton", sans-serif; */
  font-family: "Dosis", sans-serif;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Custom Styles */
.container {
  max-width: 1600px;
  width: 100%;
  margin: auto;
  position: relative;
}
.flex {
  display: flex;
}
.justify_between {
  justify-content: space-between;
}
.justify_center {
  justify-content: center;
}
.items_center {
  align-items: center;
}
.justify_start {
  justify-content: start;
}
.flex_wrap {
  flex-wrap: wrap;
}
.flex_15 {
  flex: 0 1 15%;
}
.flex_20 {
  flex: 0 1 20%;
}
.flex_25 {
  flex: 0 1 25%;
}
.flex_28 {
  flex: 0 1 28%;
}
.flex_30 {
  flex: 0 1 30%;
}
.flex_33 {
  flex: 0 1 33%;
}
.flex_42 {
  flex: 0 1 42%;
}
.flex_48 {
  flex: 0 1 48%;
}
.flex_62 {
  flex: 0 1 62%;
}
.flex_80 {
  flex: 0 1 80%;
}
.width_full {
  width: 100%;
}
a {
  text-decoration: none;
  color: gray;
}
.desktop_column {
  flex-direction: column;
}
/* -------------------App styles */
.app {
  min-height: 100vh;
  color: white;
}
.handle_dark_app {
  background-color: rgb(10, 25, 47);
  color: white;
}
.header_dark {
  color: white;
}
.active {
  color: rgb(10, 68, 83);
}
.dark_active {
  color: rgb(254, 194, 91);
}
/* header */
.header li {
  font-weight: 600;
  font-size: 1.2rem;
  cursor: pointer;
  color: rgb(68, 68, 68);
}
.header .normal_active {
  color: rgb(68, 68, 68);
}
.header_dark li {
  color: white;
}
.header a:hover {
  color: rgb(254, 194, 91);
}
/* hero */
.hero {
  min-height: 88vh;
  margin-top: 2rem;
}
.hero_data {
  text-align: center;
  line-height: 1.5;
  color: rgb(68, 68, 68);
}
.hero_data_dark {
  color: rgba(255, 255, 255, 0.719);
}
.hero_data h1 {
  font-size: 2.8rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
}
.name_color {
  color: rgb(10, 68, 83);
}
.dark_name_color {
  color: rgb(254, 194, 91);
}
.hero_data h2 {
  font-size: 1.8rem;
  font-weight: 900;
}
.hero_data p {
  font-weight: 600;
  margin: 0.8rem 0;
}
.icons a,
.git_hub_link a {
  color: rgb(68, 68, 68);
  font-size: 1.5rem;
  display: block;
  transition: all 0.5s cubic-bezier(0.4, 0.24, 0.83, 0.67);
  cursor: pointer;
}
.icons_dark a {
  color: white;
}
.icons a:hover,
.git_hub_link a:hover {
  color: rgb(41, 120, 181);
  margin-top: -0.4rem;
}
.links_left {
  width: 3%;
  position: fixed;
  left: 8rem;
  bottom: 0.3rem;
}
.stright_line {
  height: 120px;
  width: 3px;
  background-color: rgb(168, 178, 209);
  border-radius: 1rem;
  margin-top: 0.8rem;
}
.stright_line_verticle {
  width: 120px;
  height: 2px;
  border-bottom: 2px dotted gray;
  border-radius: 1rem;
  margin: 0 0.5rem;
}
.links_left a {
  display: block;
  margin-top: 1.2rem;
  font-size: 2rem;
  color: rgb(10, 68, 83);
  transition: all 0.5s cubic-bezier(0.4, 0.24, 0.83, 0.67);
}
.links_left a:hover {
  margin-left: 2rem;
}
.links_left li:hover a {
  margin-left: 2rem;
}
.mail_right {
  position: fixed;
  right: -8rem;
  bottom: 16.6rem;
  transform: rotate(90deg);
}
.mail_right a {
  color: rgb(10, 68, 83);
  font-size: 1.4rem;
  letter-spacing: 5px;
}
.mail_right_dark a {
  color: rgb(254, 194, 91);
}

/* projects */
.heading {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: rgb(10, 68, 83);
}
.dark_heading {
  color: rgb(254, 194, 91);
}
.project_article {
  border-bottom: 1px solid rgba(128, 128, 128, 0.151);
  height: 19rem;
  margin: 1rem;
  margin-top: 2rem;
  padding: 1rem 1rem;
  border-radius: 1rem;
}

.project_article_semidiv {
  width: 90%;
  margin: 0.5rem 0;
  height: 30%;
  line-height: 1.5;
  padding: 1.5rem 0.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.project_article h2 {
  font-size: 2rem;
  font-weight: 900;
  color: rgb(68, 68, 68);
  margin: 0.5rem 0;
}
.project_article_dark h2 {
  color: white;
}
.project_article .featured {
  color: rgb(10, 68, 83);
  font-weight: 600;
}
.project_article_dark .featured {
  color: rgb(254, 194, 91);
}
.project_list li {
  margin-right: 0.3rem;
  font-weight: 600;
}
.project_article .icons {
  justify-content: right;
  position: relative;
  right: 0;
  margin-top: 1rem;
}
.icons a {
  margin-left: 0.5rem;
}
.project_article_dark .icons a:hover {
  color: rgb(254, 194, 91);
}

/* ----------------------Skills */
.skills {
  margin-top: 4rem;
}
.skills figure {
  height: 100%;
}
.skills_headDiv {
  margin-top: 3rem;
}
.skills_headDiv_dark .heading {
  color: rgb(254, 194, 91);
  letter-spacing: 2px;
}
.skills_headDiv .stright_line_verticle {
  width: 350px;
  border-bottom: 2px solid gray;
  color: rgb(68, 68, 68);
}
.skill_image {
  width: 50px;
  height: 50px;
  padding: 0.6rem;
  border: 1px solid rgba(128, 128, 128, 0.199);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 0.5rem;
  margin: 1rem;
  transition: all 0.3s cubic-bezier(0.4, 0.24, 0.83, 0.67);
}
.skill_image:hover {
  margin-top: -0.7rem;
  border-bottom: 5px solid rgb(10, 68, 83);
  cursor: pointer;
}
.skill_image_dark {
  background-color: rgb(10, 25, 47);
}
.skill_image_dark:hover {
  border-bottom: 5px solid rgb(254, 194, 91);
}

/* About */
.about {
  min-height: 92vh;
}
.about .heading,
.contact .heading {
  width: 10rem;
}
.about_data {
  margin-top: 2rem;
}
.about_data img {
  margin-left: 4rem;
}
.about_data p {
  font-size: 1.2rem;
}
.about_data p {
  margin-top: 1rem;
  line-height: 1.3;
}
.about_skills {
  margin-top: 1rem;
}
.about_skills li {
  margin-top: 0.4rem;
  color: rgb(10, 68, 83);
}
.about_dark .about_skills li {
  color: rgb(254, 194, 91);
}
.about_dark .heading {
  color: rgb(254, 194, 91);
}
.about_dark .about_data a {
  color: rgb(254, 194, 91);
}
/* contact  */
.contact {
  justify-content: right;
  width: 100%;
}
.contact_data img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  padding: 1rem;
  display: block;
  background-color: rgba(128, 128, 128, 0.137);
  margin-right: 2rem;
}

.contact_data .resume {
  border: 1px solid gray;
  margin-left: 1rem;
  padding: 0.4rem 1rem;
  border-radius: 0.3rem;
  color: gray;
  transition: all 0.3s cubic-bezier(0.4, 0.24, 0.83, 0.67);
  font-weight: 900;
  margin-left: 2rem;
}
.contact_data:hover .resume {
  color: white;
  background-color: rgb(10, 68, 83);
}
.about_dark .contact_data:hover .resume {
  background-color: rgb(201, 154, 72);
}

/* media screens */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .container {
    width: 90% !important;
    margin: auto !important;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .flex_80 {
    flex: 0 80%;
  }
  .hero {
    min-height: 70vh;
  }
  .about_banner {
    width: 80%;
  }
  .about_banner img {
    margin: 0;
  }
  .flex_42 {
    flex: 0 1 40%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 21rem;
    flex: 0 1 41%;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .skills {
    width: 90% !important;
    margin: 3rem auto !important;
  }
  .mail_right {
    right: -17rem;
  }
  .about {
    min-height: 70vh;
  }
  .skills_section {
    width: 90%;
  }
}
@media screen and (max-width: 698px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90%;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 42%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero {
    min-height: 55vh;
  }
  .hero h1 {
    font-size: 3rem !important;
  }
  .skills .skill_image {
    width: 30px !important;
    height: 30px;
  }
  .about_banner {
    width: 80%;
  }
  .about_banner img {
    margin: 0;
  }
  .flex_42 {
    flex: 0 1 40% !important;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 21rem;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .mail_right {
    right: -20rem;
  }
  .skills {
    width: 90% !important;
    margin: 3rem auto !important;
  }
  .skills_section {
    width: 90%;
  }
}

@media screen and (max-width: 598px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90% !important;
  }
  .hero {
    min-height: 60vh !important;
  }
  .header {
    padding: 2rem 0;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero {
    width: 100%;
    min-height: 70vh;
  }
  .hero h1 {
    font-size: 2.2rem !important;
  }
  .hero_data {
    margin-top: -8rem;
  }
  .about_banner {
    width: 80%;
  }
  .project_article {
    height: 22rem;
    margin-top: 0rem !important;
  }
  .about_banner img {
    margin: 0;
  }
  .skills .skill_image {
    width: 30px !important;
    height: 30px;
  }
  .flex_42 {
    flex: 0 1 80%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 25rem;
    margin-top: 0rem;
  }
  .skills_headDiv .stright_line_verticle {
    width: 200px;
  }
  .contact_data img {
    width: 60px !important;
    height: 60px !important;
  }
  .resume {
    margin-left: 2rem !important;
  }
  .links_left {
    left: 1.5rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .mail_right {
    right: -19.7rem;
  }
  .projects {
    width: 80% !important;
  }
  .skills {
    width: 90% !important;
    margin: 3rem auto !important;
  }
  .about {
    width: 80% !important;
  }
  .skills_section {
    width: 90%;
  }
}
@media screen and (max-width: 446px) {
  html {
    font-size: 10px;
  }
  .container {
    width: 90%;
    margin-left: 1rem;
  }
  .header {
    padding: 2rem 0;
  }
  .projects {
    margin-left: 3rem !important;
  }
  .flex_15 {
    flex: 0 1 30%;
  }
  .flex_25 {
    flex: 0 1 50%;
  }
  .flex_28 {
    flex: 0 1 100%;
  }
  .flex_33 {
    flex: 0 1 40%;
  }
  .hero_data {
    margin-top: -8rem;
  }
  .about_banner {
    width: 80%;
  }
  .project_article {
    height: 22rem;
    margin: 0 !important;
    /* margin-left: 2rem; */
  }
  .about_banner img {
    margin: 0;
  }
  .flex_42 {
    flex: 0 1 80%;
  }
  .column {
    flex-direction: column;
  }
  .project_article {
    height: 25rem;
  }
  .skills_headDiv .stright_line_verticle {
    width: 200px;
  }
  .skills .skill_image {
    width: 20px !important;
    height: 20px;
  }
  .about_data {
    width: 90%;
    margin: auto;
  }
  .contact_data {
    width: 90%;
    margin: auto;
  }
  .contact_data img {
    width: 60px !important;
    height: 60px !important;
  }
  .resume {
    margin-left: 2rem !important;
  }
  .links_left {
    left: 1rem;
  }
  .skills .width_full {
    width: 90%;
    display: block;
    margin: auto;
  }
  .skills {
    width: 90% !important;
    margin: 3rem auto !important;
  }
  .mail_right {
    right: -16rem;
  }
  .skills_section {
    width: 90%;
  }
}
